<header>
    <nav>
        <p>Bem Vindo !</p>
        <img src="/assets/icons/icons8-instagram-filled-100.png" alt="">
        <a href="#">Minha Conta</a>
        <a href="#">Contato</a>
    </nav> 
    <div class="burguer">
        <div class="barrinha"></div>
        <div class="barrinha"></div>
        <div class="barrinha"></div>
    </div>    
    <h1>SAÚDE A <span> TODOS</span><img src="../assets/icons/icon-logo.png" alt="Logo"></h1>
    <div></div>
</header>