<header>
    <nav>
        <div>
                <img src="/assets/icons/icon_user.png" alt="">
            <p>Bem Vindo !</p>
        </div>
        <a href="#">Minha Conta</a>
        <a href="#">Contato</a>
    </nav> 
    <div class="burguer">
        <img src="/assets/icons/icon-menu.png" alt="menu">
    </div>    
    <h1>SAÚDE A <span> TODOS</span><img src="../assets/icons/icon-logo.png" alt="Logo"></h1>
    <div></div>
</header>