<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/desktop.css">
</head>
<body>
    <form method="POST">
        <input type="text" name="nome" placeholder="nome">
        <input type="text" name="img" placeholder="imagem">
        <input type="text" name="descricao" placeholder="descrição">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>