<!DOCTYPE html>
<html lang="pt-br">
        <%- include('shared/head') %>
<body>     
        <%- include('shared/header') %>
    <section>
        <div class="busca">
            <input type="search" placeholder="Buscar...">
            <select name="seletor" id="seletor">
                <option value="categoria">Categorias</option>
                <option value="hospital">Hospital</option>
                <option value="problema">Problema</option>
            </select>
        </div>
        <div id="msg">
            <p>Utilize o campo <strong>Categorias</strong> para definir o tipo de busca</p>
        </div>
    </section>   
        <%- include('shared/footer') %>
</body>
</html>