body{
    height: 100%;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    position: sticky;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    background-color: #007c8a;
}

h1 img{
    width: 30px;
    height: 30px;;
}

h1{
    display: flex;
    margin: 0;
    align-items: center;
    height: 10px;
    font-size: 15pt;
}

h1 span{
    margin: 2px;
    color: rgb(190, 17, 17);
}

.busca{
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.busca input{
    margin: 0;
    padding: 0 5px;
    width: 64vw;
}

.busca select{
    margin: 0;
    width: 34vw;
}


section{
    width: 100vw;
}

.msg{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 70vw;
    height: 200px;
    font-size: 20pt;
}

.hospital:hover{
    cursor: pointer;
    background-color: lightblue;
}

footer{
    bottom: 0;
    display: flex;
    height: 20vh;
    width: 100vw;
    background-color: #003644; 
}

a{
    text-decoration: none;
    color: black;
}

footer .container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.hospital {
    display: flex;
    list-style: none;
    margin: 0;
    margin: 5px 0px;
    border: 0.7px solid black;
    width: 100vw;
    max-width: 1534px;
}

.lista{
    display: flex;
    padding: 0px;
}


/* Menu hamburguer feito no js */
.burguer{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 1.8vw;
    cursor: pointer;
    right: 0%;
    z-index:20;
    transition: 1s;   

}
.burguer1{
    right: 10%;
}
.barrinha{
    box-shadow: 0 0 1px;
    width: 35px;
    height: 3px;
    background-color: black;
    transition: 0.5s;
}
.barrinha:nth-child(2){
    margin: 10px 0;
}
.barrinha1{
    transform:rotate(135deg);
    position: absolute;
}
.barrinha1:nth-child(2){
    margin: 0;
    transform: rotate(-135deg);
}
nav{
    background-color:whitesmoke;
    width: 90%;
    margin: 0;
    height: 60px;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    top: 0;
    left: -100%;
    position: absolute;
    transition: 0.8s;

}
header img{
    height:40px;
    width:40px;
}
header p{
    display: flex;
    align-items: center;
    padding-top: 12%;
    justify-content: space-evenly;
    flex-direction: column;
}
header a{
    display: flex;
    Margin-top:10%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
}

.visible{
    left: 0;
    box-shadow: 0 0 2px 1px, 0 0 500px;
}
